<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magebit_Faq1::question"
             title="Frequently asked questions"
             module="Magebit_Faq1"
             sortOrder="9999"
             parent="Magento_Backend::content_elements"
             action="faq1/question/index"
             resource="Magebit_Faq1::question"
        />
    </menu>
</config>
